.yunah{
    color: #e4d942;
}
h1{
    color: rgb(31, 30, 39);
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(49, 75, 49);
    border-radius: 100px;
    margin-right: 600px;
    margin-left:600px ;
}
.minju{
    background-color: rgb(49, 75, 49);
    color: rgb(31, 30, 39);
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
body{
     background-color: #929292;
}
table{
    margin: 10px;
    padding: 5px;
    color:  rgb(56, 94, 56);
    
    font-size: 20px;
    

}